<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.tu_dortmund.javatemplates.template" name="Template" schema="schema/templateplugin.template.exsd"/>
   <extension
         id="de.tu_dortmund.javatemplates.templateinfo"
         name="TemplateInfo"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="de.tu_dortmund.javatemplates.templateerror"
         name="TemplateError"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="de.tu_dortmund.javatemplates.templateinfo"
            name="de.tu_dortmund.javatemplates.templateinfotype"
            super="org.eclipse.jdt.ui.info">
      </type>
      <type
            markerType="de.tu_dortmund.javatemplates.templateerror"
            name="de.tu_dortmund.javatemplates.templateerrortype"
            super="org.eclipse.jdt.ui.error">
      </type>
   </extension>
   <extension
         point="de.tu_dortmund.javatemplates.template">
      <template
            class="de.tu_dortmund.javatemplates.template.Template"
            id="de.tu_dortmund.javatemplates.template"
            name="Template">
      </template>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.tu_dortmund.javatemplates.template"
            name="JavaTemplate">
      </category>
      <wizard
            category="de.tu_dortmund.javatemplates.template"
            class="de.tu_dortmund.javatemplates.plugin.NewTemplateWizard"
            id="de.tu_dortmund.javatemplates.plugin.newtemplatewizard"
            name="Java Template Code">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.tu_dortmund.javatemplates.plugin.TemplateEditor"
            default="false"
            extensions="javat"
            id="de.tu_dortmund.javatemplates.templateeditor"
            name="Java Template Code Editor">
      </editor>
   </extension>
</plugin>
